{% extends 'AppFrontEndBundle::layout.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}
{% block metaKeywords %}{{ metaKeywords|join(', ') }}{% endblock %}
{% block metaDescription %}{{ metaDescription }}{% endblock %}
{% block stylesheets %}
    {% for style in styles %}
        <link href="{{ style['href'] }}" type="{{ style['type'] }}" rel="{{ style['rel'] }}">
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="content">
        {{ content|raw }}
    </div>
{% endblock %}